{% extends "index.html" %}

{% block content %}
<section class="hero-section" >
    <h1 class="hero-title">Welcome to <span class="accent">BioGenerator</span>!</h1>

    <p class="hero-text">
    BioGenerator is your ultimate tool for mastering the Instagram algorithm. It instantly transforms your long notes, articles, or code snippets into engaging, bite-sized summaries perfect for your feed. Stop wasting time guessing which tags work — BioGenerator provides smart, trending hashtag suggestions to maximize your reach. Whether you are a developer sharing knowledge or a creator building a brand, this tool helps you post consistently and effectively.
</p>

<p class="hero-text">
    This project was built with the power of <strong>Django</strong>, precision coding, and a focus on user experience. Have a feature request? Want to see how it works under the hood? Let's connect and build something amazing together.
</p>
</section>
{% endblock %}